.container {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
}

.row {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.drawn {
    background-color: lightblue;
}

button {
    margin-bottom: 5px;
}